<main class="new-user-registration">
<div class="main-contents">
    <div class="sign-up-box">
    <h2 class="new_post-title">
    Sign up
    </h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field" id="myfile">
        <%= f.label "Profile Photo" %><br />
        <%= f.file_field :profileimg, autofocus: true %>
        <div class="preview"></div>
      </div>

      <div class="field">
        <%= f.label "name" %><br />
        <%= f.text_field :nickname,placeholder: "", autofocus: true, maxlength: "6" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, placeholder: "xxx@xxx", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :from %><br />
        <%= f.text_field :from, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :age %><br />
        <%= f.text_field :age, autofocus: true %>
      </div>

      <div class="field introduction">
        <%= f.label :introduction %><br />
        <%= f.text_field :introduction, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
    </div>
</div>
</main>