        <div class="hamburger-menu">
          <div class="hamburger-btn">
            <i class="fas fa-bars" id="nav-toggle"></i>
          </div>
          <div id="gloval-nav">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Works</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
          </div>
        </div>
<ul class="slider">
<li><%= image_tag 'plane_night.jpg', height: '700' %></li>
<li><%= image_tag 'road.jpg', height: '700' %></li>
<li><%= image_tag 'beach.jpg', height: '700' %></li>
</ul>
<div class="search-box">
  <%= form_with(url:  search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "Search", class: "search-input" %>
<% end %>
</div>
    <div class='serect'>
      <a href="/" class='footer-btn'><i class="fas fa-search"></i></a>
      <a href="/trips/main" class='footer-btn'><i class="fas fa-pen-nib"></i></a>
      <a href="/favorite" class='footer-btn'><i class="fas fa-star"></i></a>
      <a href="/bookmarks" class='footer-btn'><i class="fas fa-book-open"></i></a>
    </div>

  <main class='search-main'>
  <div class='left-contents'>
  <div class='side-bar'>
  <ul>
    <li>
    <a href="#about">About</a>
   </li>
    <li>
    <a href="#recomendation">Recomendation</a>
    </li>
    <li>
    <a href="#news">News</a>
    </li>
    <li>
    <a href="#information">Information</a>
    </li>
    <li>
    <a href="#contact">Contact</a>
    </li>
  </ul>
  </div>
  </div>
    <div class='main-contents'>
    <div class="post-contents">
    <h2 class="contnts_title">＜ ALL TRIPS ＞</h2>
    <div class="contents">
      <% @posts.each do |post| %>
        <div class='main-content'>
          <%= link_to "/profiles/#{post.user_id}" do %>
            <div class="contents-header">
              <div class="contributor">
                <div class="profile-img"><%= image_tag post.trip.user.profileimg.to_s, size: '20x40' %></div>
                <%= simple_format(post.trip.user.nickname) %>
              </div>
            </div>
          <% end %>
          <%= link_to "/posts/#{post.id}" do %>
            <table class="post-contents">
              <div class="post-image"><%= image_tag post.image.to_s, size: '200x200' %></div>
              <tr class="post-title">
                <th>
                  <p>Title</p>
                </th>
                <th>
                  <%= simple_format(post.title) %>
                </th>
              </tr>
              <tr class="post-time">
                <th>
                  <p>Time</p>
                </th>
                <th>
                  <%= post.time.strftime("%m/%d %H:%M") %>
                </th>
              </tr>
              <tr  class="post-text">
                <th>
                  <p>Place</p>
                </th>
                <th>
                  <%= simple_format(post.place) %>
                </th>
              </tr>
            </table>
          <% end %>
        </div>
      <% end %>
      </div>
      <%= paginate(@posts) %>
    </div>
    <div class="contents" id="about">
      <h2>About</h2>
      <div class="about">
        <p>Trip Logは、旅の思い出を記録できるアプリです
        <br>写真とともに旅先の記憶を残し、
        <br>楽しかった思い出を共有しましょう</p>
      </div>
    </div>
    <div class="contents" id="recomendation">
      <h2>Recomendation</h2>
      <div class="contents_boxs">
      <div class="contents_box"></div>
      <div class="contents_box"></div>
      <div class="contents_box"></div>
      <div class="contents_box"></div>
      <div class="contents_box"></div>
      </div>
    </div>
    <div class="contents" id="news">
      <h2>News</h2>
      <% @news.each do |news| %>
      <div class="contents_box">
      <div class="news_image">
      <%= image_tag news.newsimage.to_s %>
      </div>
      <div class="news_content">
      <div class="news_content--title">
      <p><%= news.newstitle %></p>
      </div>
            <div class="news_content--content">
      <p><%= news.newscontent %></p>
      </div>
      </div>
            </div>
      <% end %>
      <%= paginate(@news) %>
    </div>
    <div class="contents" id="information">
      <h2>Information</h2>
      <div class="information_content">
      <ul class="tab clearfix">
        <li class="active">北海道</li>
        <li>東北</li>
        <li>関東</li>
        <li>中部</li>
        <li>近畿</li>
        <li>中国</li>
        <li>四国</li>
        <li>九州</li>
      </ul>
      
      <div class="area">
        <ul class="show">
        <div class="information_box">
        <div class="information_contentes">
            <% @information.each.with_index(1) do |inf,i| %>
<li class="inf information<%= i %>">
<p><%= inf.inftitle %></p>
<p class="created_at"><%= inf.created_at %></p>
</li>
            <% end %>
            </div>
        <div class="information_detail">
        <div class="information_img">
              <%= image_tag  @information[0].infimage.to_s %>
              </div>
                      <div class="information_title">
              <p><%= @information[0].inftitle %></p>
              </div>
                      <div class="information_text">
              <p><%= @information[0].inftext %></p>
              </div>
        </div>
        </div>
        </ul>
        <ul>
        <div class="information_box">
        <div class="information_contentes">
            <% @information.each_with_index do |inf,i| %>
                      <li class="#{i}">
            <p><%= inf.inftitle %></p>
                      </li>
            <% end %>
            </div>
        <div class="information_detail">
        </div>
        </div>
        </ul>
        <ul>
        <div class="information_box">
        <div class="information_contentes">
            <% @information.each do |inf| %>
                      <li>
            <p><%= inf.inftitle %></p>
                      </li>
            <% end %>
            </div>
        <div class="information_detail">
          about
        </div>
        </div>
        </ul>
        <ul>
        <div class="information_box">
        <div class="information_contentes">
            <% @information.each do |inf| %>
                      <li>
            <p><%= inf.inftitle %></p>
                      </li>
            <% end %>
            </div>
        <div class="information_detail">
          about
        </div>
        </div>
        </ul>
        <ul>
        <div class="information_box">
        <div class="information_contentes">
            <% @information.each do |inf| %>
                      <li>
            <%= inf.inftitle %>
                      </li>
            <% end %>
            </div>
        <div class="information_detail">
          about
        </div>
        </div>
        </ul>
        <ul>
        <div class="information_box">
        <div class="information_contentes">
            <% @information.each do |inf| %>
                      <li>
            <%= inf.inftitle %>
                      </li>
            <% end %>
            </div>
        <div class="information_detail">
          about
        </div>
        </div>
        </ul>
        <ul>
        <div class="information_box">
        <div class="information_contentes">
          <% @information.each_with_index do |inf,i| %>
            <li>
            <%= inf.inftitle %>
            </li>
          <% end %>
        </div>
        <div class="information_detail">
          about
        </div>
        </div>
        </ul>
        <ul>
        <div class="information_box">
        <div class="information_contentes">
            <% @information.each do |inf| %>
                      <li>
            <%= inf.inftitle %>
                      </li>
            <% end %>
            </div>
        <div class="information_detail">
          about
        </div>
        </div>
        </ul>
                                    <%= paginate(@information) %>
        </div>

          </div>

    </div>
    <div class="contents" id="contact">
      <h2>Contact</h2>
      <div class="form">
        <%= text_field_tag "family-name1",  "name"  %>
        <%= text_field_tag "family-name2",  "e-mail"  %>
        <%= text_field_tag "family-name3",  "お問い合わせ内容"  %>
      </div>
    </div>
    </div>
  </main>
