<div class="image">
<%= image_tag 'plane_night.jpg'%>
</div>
<div class="search-box">
  <%= form_with(url:  search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "Search", class: "search-input" %>
<% end %>
</div>
    <div class='serect'>
      <a href="/" class='footer-btn'><i class="fas fa-search"></i></a>
      <a href="/posts/new" class='footer-btn'><i class="fas fa-pen-nib"></i></a>
      <a href="/favorite" class='footer-btn'><i class="fas fa-star"></i></a>
      <a href="/bookmarks" class='footer-btn'><i class="fas fa-book-open"></i></a>
    </div>

  <main class='search-main'>
  <div class='left-contents'>
  <div class='side-bar'>
  <ul>
    <li>
    <p>About</p>
   </li>
    <li>
    <p>Recomendation</p>
    </li>
    <li>
    <p>News</p>
    </li>
    <li>
    <p>Information</p>
    </li>
    <li>
    <p>Contact</p>
    </li>
    <li>
    <p></p>
    </li>
    <li>
    <p></p>
    </li>
    <li>
    <p></p>
    </li>
    <li>
    <p></p>
    </li>
    <li>
    <p></p>
    </li>
    <li>
    <p></p>
    </li>
    <li>
    <p></p>
    </li>
    <li>
    <p></p>
    </li>

  </ul>
  </div>
  </div>
    <div class='main-contents'>
    <h2>＜ ALL TRIPS ＞</h2>
      <% @posts.each do |post| %>
        <div class='main-content'>
          <%= link_to "/profiles/#{post.user_id}" do %>
            <div class="contents-header">
              <div class="contributor">
                <div class="profile-img" style="background-image: url(<%= post.user.profileimg %>);" ></div>
                <%= simple_format(post.user.nickname) %>
              </div>
            </div>
          <% end %>
          <%= link_to "/posts/#{post.id}" do %>
            <table class="post-contents">
              <div class="post-image" style="background-image: url(<%= post.image %>);"></div>
              <tr class="post-title">
                <th>
                  <p>Title</p>
                </th>
                <th>
                  <%= simple_format(post.title) %>
                </th>
              </tr>
              <tr class="post-time">
                <th>
                  <p>Time</p>
                </th>
                <th>
                  <%= post.time.strftime("%m/%d %H:%M") %>
                </th>
              </tr>
              <tr  class="post-text">
                <th>
                  <p>Place</p>
                </th>
                <th>
                  <%= simple_format(post.place) %>
                </th>
              </tr>
            </table>
          <% end %>
        </div>
      <% end %>
    </div>
  </main>
