<main>
  <div class='right-contents'>
    <div class="content-title">
          <%= simple_format(@post.title) %>
    </div>
      <div class="bookmark-btn">
        <% if !Bookmark.exists?(user_id:current_user.id,post_id:@post.id) %>
          <%= link_to post_add_path(@post), class:"bookmark-add-btn",method: :post do%>
            <i class="far fa-bookmark"></i>
          <% end %>
        <% else %>
          <%= link_to post_add_path(@post), class:"bookmark-remove-btn",method: :delete do%>
            <i class="fas fa-bookmark"></i>
          <% end %>
        <% end %>
      </div>
  </div>
  <div class='main-contents'>
  <div class="detail-content">
    <div class="post-img" style="background-image: url(<%= @post.image %>);"></div>
      <div class="more">
        <%= simple_format(@post.text) %>
      </div>
      </div>
    </div>
  <div class='left-contents'>
    <ul class="more_list">
      <li>
        <%= link_to 'Edit', "/posts/#{@post.id}/edit", method: :get %>
      </li>
      <li>
        <%= link_to 'Delite', "/posts/#{@post.id}", method: :delete %>
      </li>
    </ul>
</div>
</main>